.city {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .city_name {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 2.25em;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
  }
  
  .city_temperature {
    position: absolute;
    top: 15%;
    font-size: 5em;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .weather_description {
    position: absolute;
    color: #cccccc;
    
    @media (min-width :2560px) {
      top: 27%;
      font-size: 1.75em;
    }

    @media (max-width:1440px) {
      top: 30%;
      font-size: 1.2em;
    }
    
  }
  
  .time_of_sunrise, 
  .time_of_sunset {
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 1em;
  }
  
  .time_of_sunrise {

    @media (min-width:2560px ) {
      top: 33%;
      left: 40%;
    }
    
    @media (max-width:1440px ) {
      top: 36%;
      left: 40%;
    }

  }
  
  .time_of_sunset {

    @media (min-width:2560px ) {
      top: 33%;
      left: 40%;
    }

    @media (max-width:1440px ) {
      top: 36%;
      right: 40%;
    }

  }
  
  .icon {
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }