.forecast-container {
    position: absolute;
    top: 45%;
    left: 5px;
}

.forecast-heading {
    display: flex;
    position: relative;
    left: 5%;
    color: aliceblue;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    padding-bottom: 20px;
}

.day_of_week h1 {
    font-size: 20px;
    color: #cccccc;
    text-align: center;
}

.forecast-items {
    display: flex;
    gap: 20px;
}

.forecast-item {
    background: #404969;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    position: relative;
    left: 5%;
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: normal;
    font-size: 1em;
    height: 11em;
    width: 13em;
}

.temp {
    position: relative;
    color: antiquewhite;
    left: 5%;
    bottom: 20px;
    font-size: 50px;
}


.forecast-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}