.App {
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city_name {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 2.25em;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

.city_temperature {
    position: absolute;
    top: 15%;
    font-size: 5em;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.weather_description {
    position: absolute;
    top: 27%;
    font-size: 1.75em;
    color: #cccccc;
}

.time_of_sunrise {
    position: absolute;
    color: white;
    top: 33%;
    left: 40%;
}

.time_of_sunset {
    position: absolute;
    color: white;
    top: 33%;
    right: 40%;
}